.container-conteudo{
    margin-top: 8px;
}


.card{
    margin-top: 8px;
    margin-bottom: 8px;
}



.container-principal{
    height: 600px;
}


footer{
    text-align: center;
    padding:20px;
    background-color:#f0f4f5;
    width: 100%;
   
}

.lead{
    color: black;
}
.navbar-brand{
    padding: 20px;
}

.nav-item{
    size: 10px;

    
}
.nav-link{
    font-size: small;
}
.row{
    width: 100%;
    padding: 20px;
}

.lead{
    padding: 20px;
    text-align: center;
}

.footer-ul{
    list-style: none;
}

.btn{
    
        
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
      
}

.img{
    width: 65%;
}

.imgdiv{
    display: flex;
    justify-content: center;
}

.Titulo{
    text-align: center;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;
}

.lead{
    text-align: left;
}

.container-funcionario{
    margin-top: 16px;
    padding-top: 8px;
    border: 1px solid #03524c ;
    border-radius: 15px;
}

.td-controle{
    width: 50px;
}
.container-header-cargo{
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 24px;
    background-color: #03524c ;
    color: white;
    border-radius: 15px;
    text-align: center;
    width:var(--width-cargo);
}

.container-header-funcionario{
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 24px;
    background-color: #03524c ;
    color: white;
    border-radius: 15px;
    text-align: center;
}

.container-btn-novo{
    width: 100%;
    text-align: right;
}

.container-cargo-btn-novo{
    text-align: right;
    width: var(--width-cargo);
}

.contanier-body-funcionario{
    margin-top: 16px;
    padding-top: 8px;
    border: 1px solid #03524c ;
    border-radius: 15px;
}

.contanier-body-cargo{
    margin-top: 16px;
    padding-top: 8px;
    border: 1px solid #03524c ;
    border-radius: 15px;
    width: var(--width-cargo);
}

.container-form{
    width: 50%;
}

.btn-form{
    width: 100%;
    margin-bottom: 8px;
}

.modal-header-color{
    background: #03524c;
    color:white;
    font-weight: bold;
}
