<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{../img/logo.png}" type="image/png">
    <title>Pop Arte</title>

     <!--CSS-->
     <link rel="stylesheet" th:href="@{/bootstrap-5.0.0/css/bootstrap.min.css}">
     <link rel="stylesheet" th:href="@{/fontawesome-5.15.3/css/all.css}">
     <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>

<!--MENU-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}">Semana de arte</a>




    <!--BOTÃO MENU-->




    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
            aria-controls="navbarMenu" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>




    </button>
    <!--ITENS DO MENU-->
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav  mr-auto">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/}">Memória Esportiva</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/projeto/list}">Memória Esportiva - Pesquisas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/projeto/pop}">Pop Arte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/projeto/sobre}">Nossa Pop Arte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/funcionario/list}">Participantes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{https://linktr.ee/gregg.rm}">Sobre nós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Site Oficial Semana de Arte SENAI Santa catarina</a>
            </li>
        </ul>
    </div>
</nav>

<!--Imagem-->
    <div class="imgdiv">
  <img th:src="@{../img/original1.jpg}" class="img"  alt="...">
</div>

<!--TEXTO-->
<div class="Titulo">
    <h1>Pop Arte</h1>
</div>
<div class="texto1">
    <h1 class="display-4">Nossa representação</h1>
    <p class="lead">
        Para fazer esse trabalho utilizamos dois argumentos </p>
        <p class="lead"> -Obra de arte autoral</p>
        <p class="lead"> -POP Arte </p>
        <p class="lead">Fizemos uma obra de arte de nossa autoria e em seguida aplicamos os elementos da pop arte que são: Mistura de pintura e objetos reais na composição da obra e o uso da técnica silk-screen ou serigrafia, que consiste na impressão de texto ou figura em uma superfície com tinta vazada;
        
      </p>
      <h1 class="display-6">Porque uma obra autoral?</h1>
      <p class="lead">
        De fato a pop arte apresenta elementos da cultura pop, mas o que mais cultural do que nossa própria arte inserida no mundo? Por isso escolhemos uma paisagem, pintamos, e aí inserimos os elementos da pop arte, e é isso que falta hoje em dia
        AUTORALIDADE.  
      </p>
      <h1 class="display-6">Continuação do nosso projeto    </h1>
      <div class="imgdiv">
      <img th:src="@{../img/popart.jpg}" class="img" alt="...">
    </div>
      <p class="lead">
        Em seguida foi simples, uma das melhores coisas da pop arte e você poder se soltar em relação à sua arte, não existe feio ou bonito, só arte.
Então alteramos algumas cores e editamos a pintura
      </p>
      <h1 class="display-6">E por fim…. temos a pop arte autoral</h1>
      <div class="imgdiv">
      <img th:src="@{../img/popartefinal.jpg}" class="img" alt="...">
    </div>
      <p class="lead">
        Titulo: Venha ver o pôr do sol comigo
      </p>
</div>
<div class="imgdiv">
    <img th:src="@{../img/vitorarte.png}" class="img" alt="...">
</div>
<p class="lead">
    Titulo: Venha ver o pôr do sol comigo
</p>
</div>
<!--Lista-->
<dl class="row">
 

    <dt class="col-sm-3">Tema</dt>
    <dd class="col-sm-9">Pop Arte;</dd>
  
    <dt class="col-sm-3">Participantes</dt>
    <dd class="col-sm-9">Gregori Rodrigues Monteiro, Gabriel Gaia, Vitor Viera, Pedro Sarmento;</dd>
  
    <dt class="col-sm-3">Ano</dt>
    <dd class="col-sm-9">2021;</dd>
  
    <dt class="col-sm-3 text-truncate">Turma</dt>
    <dd class="col-sm-9">3AB;</dd>
  </dl>

</div>
 <!--RODAPÉ-->
 <footer class="footer-color">
  <ul class="footer-ul">
    <li>Semana de artes!</li>
    <li>Trabalhos produzidos pelos estudantes senai</li>
    <li>E-mail: gregori_monteiro@estudante.sc.senai.br</li>
  </ul>
</footer>


      <!--JS-->
  <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
  <script th:src="@{/js/popper.min.js}"></script>
  <script th:src="@{/bootstrap-5.0.0/js/bootstrap.min.js}">
  </script>
</body>
</html>